.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.9);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
	color: rgb(255, 255, 255);
}

.navbar .brand-icon {
	margin-top: -0.2rem;
}

.navbar-nav .user-circle .nav-link {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}

.dashboard-alert {
	left: 50%;
	transform: translateX(-50%);
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.breadcrumb-dropdown button {
	padding: 0 0.25rem;
}