.loading-icon {
  animation: spin 1s linear infinite;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.form-control.is-valid {
  border: 1px solid transparent;
  background-image: none;
}

.form-control.is-valid:focus {
  border: 1px solid transparent;
}