table.headless {
  thead {
    display: none;
  }
  tbody tr:first-child td {
    border-top: 0 none;
  }
}

table > tbody > tr > td.fit {
  width: 1%;
  white-space: nowrap;
}

table.vertical-align > tbody > tr > td {
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  cursor: pointer;
}