<template>
  <b-container>
    <b-row>
      <b-col cols="12">
        <breadcrumbs
          v-if="groupsByUser"
          :groupsByUser="groupsByUser"
          :endcap="{ id: group.id, text: 'Edit' }"
        />
        <page-title
          v-if="group"
          :id="group.id"
          title="Edit Group"
          :visibility="group.visibility"
        >
          <group-navigation
            :id="group.id"
            :scopes="scopes"
          />
        </page-title>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <group-edit-form
          v-if="group"
          :group="group"
          :error="error"
          @update="update"
        />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import Breadcrumbs from '../../components/Breadcrumbs.vue';
  import GroupEditForm from '../../components/Group/EditGroupForm.vue'
  import GroupNavigation from '../../components/Group/GroupNavigation.vue';
  import GroupsByUser from '../../graphql/Group/GroupsByUser.gql';
  import PageTitle from '../../components/PageTitle.vue';
  import UpdateGroup from '../../graphql/Group/UpdateGroup.gql';
  import UserCurrent from '../../graphql/Account/User/UserCurrent.gql';

  export default {
    apollo: {
      groupsByUser: {
        query: GroupsByUser
      },
      userCurrent: {
        query: UserCurrent
      }
    },
    components: {
      Breadcrumbs,
      GroupEditForm,
      GroupNavigation,
      PageTitle
    },
    props: {
      id: {
        type: String,
        required: true
      }
    },
    data: () => ({
      error: false,
      groupsByUser: null,
      userCurrent: null
    }),
    computed: {
      group() {
        if (this.groupsByUser !== null) {
          return this.groupsByUser.find(group => group.id === this.id);
        }
        return null;
      },
      scopes() {
        let scopes = [];
        if (this.groupsByUser !== null && this.userCurrent !== null) {
          let group = this.groupsByUser.find(group => group.id === this.id);
          let scope = this.getScopes(group);
          if (scope !== undefined) {
            scopes.push(scope);
          }

          let parentId = group.parentId;
          while (parentId !== null) {
            group = this.groupsByUser.find(group => group.id === parentId);
            if (group !== undefined) {
              let scope = this.getScopes(group);
              if (scope !== undefined) {
                scopes.push(scope);
              }
              parentId = group.parentId;
            } else {
              parentId = null;
            }
          }
        }

        return scopes;
      }
    },
    methods: {
      getScopes(group) {
        if (group.members !== null) {
          return group.members.find(member => member.user.id === this.userCurrent.id).scope;
        }
      },
      update(group) {
        this.error = false;
        this.$apollo.mutate({
          mutation: UpdateGroup,
          variables: {
            input: {
              id: group.id,
              name: group.name,
              path: group.path,
              description: group.description,
              visibility: group.visibility
            }
          },
          optimisticResponse: {
            __typename: 'Mutation',
            updateGroup: {
              __typename: 'Group',
              ...group
            },
          },
        }).then(result => {
          this.$router.push({ name: 'group-detail', params: { id: result.data.updateGroup.id } });
        }).catch(() => {
          this.error = true;
        });
      }
    }
  }
</script>