<template>
  <b-container>
    <b-row>
      <b-col cols="12">
        <page-title
          v-if="groupsByUser"
          title="Groups"
        >
          <b-btn :to="{ name: 'group-new' }" class="float-right">New Group</b-btn>
        </page-title>
      </b-col>
    </b-row>
    <b-row>
      <group-table
        v-if="userCurrent"
        :groupsByUser="groupsByUser"        
        :userCurrent="userCurrent"
      />
    </b-row>
  </b-container>
</template>

<script>
  import GroupsByUser from '../../graphql/Group/GroupsByUser.gql';
  import GroupTable from '../../components/Group/GroupTable.vue';
  import PageTitle from '../../components/PageTitle.vue';
  import UserCurrent from '../../graphql/Account/User/UserCurrent.gql';

  export default {
    apollo: {
      groupsByUser: {
        query: GroupsByUser
      },
      userCurrent: {
        query: UserCurrent
      }
    },
    components: {
      GroupTable,
      PageTitle
    },
    data: () => ({
      groupsByUser: null,
      userCurrent: null
    })
  }
</script>