<template>
  <b-container>
    <b-row>
      <b-col cols="12">
        <breadcrumbs
          v-if="groupsByUser"
          :groupsByUser="groupsByUser"
          :endcap="{ id: id }"
        />
        <page-title
          v-if="group"
          :id="group.id"
          :title="group.name"
          :description="group.description"
          :visibility="group.visibility"
        >
          <b-dropdown
            v-if="scopes.some(scope => scope === 'admin')"
            split
            :split-to="{ name: 'group-new', query: { parentId: group.id } }"
            text="New Group" class="float-right"
          >
            <b-dropdown-item :to="{ name: 'group-new', query: { parentId: group.id } }" disabled>
              New App
            </b-dropdown-item>
          </b-dropdown>
          <b-nav class="float-right mr-3">
            <b-nav-item-dropdown
              id="edit-group"              
              no-caret
            >
              <template slot="button-content">
                <icon name="cog"/>
              </template>
              <b-dropdown-item :to="{ name: 'group-members', params: { groupId: group.id } }">
                Members
              </b-dropdown-item>
              <b-dropdown-item v-if="scopes.some(scope => scope === 'admin')" :to="{ name: 'group-edit', params: { id: group.id } }">
                Settings
              </b-dropdown-item>
            </b-nav-item-dropdown>
          </b-nav>
        </page-title>
      </b-col>
    </b-row>
    <b-row>
      <group-table
        v-if="userCurrent"
        :groupId="id"
        :groupsByUser="groupsByUser"
        :scopes="scopes"
        :userCurrent="userCurrent"
      />
    </b-row>
  </b-container>
</template>

<script>
  import 'vue-awesome/icons/cog';
  import Breadcrumbs from '../../components/Breadcrumbs.vue';
  import GroupsByUser from '../../graphql/Group/GroupsByUser.gql';
  import GroupTable from '../../components/Group/GroupTable.vue';
  import Icon from 'vue-awesome/components/Icon';
  import PageTitle from '../../components/PageTitle.vue';
  import UserCurrent from '../../graphql/Account/User/UserCurrent.gql';

  export default {
    apollo: {
      groupsByUser: {
        query: GroupsByUser
      },
      userCurrent: {
        query: UserCurrent
      }
    },
    components: {
      Breadcrumbs,
      GroupTable,
      Icon,
      PageTitle
    },
    props: {
      id: {
        type: String,
        required: true
      }
    },
    data: () => ({
      groupsByUser: null,
      userCurrent: null
    }),
    computed: {
      group() {
        if (this.groupsByUser !== null) {
          return this.groupsByUser.find(group => group.id === this.id);
        }
        return null;
      },
      scopes() {
        let scopes = [];
        if (this.groupsByUser !== null && this.userCurrent !== null) {
          let group = this.groupsByUser.find(group => group.id === this.id);
          let scope = this.getScopes(group);
          if (scope !== undefined) {
            scopes.push(scope);
          }

          let parentId = group.parentId;
          while (parentId !== null) {
            group = this.groupsByUser.find(group => group.id === parentId);
            if (group !== undefined) {
              let scope = this.getScopes(group);
              if (scope !== undefined) {
                scopes.push(scope);
              }
              parentId = group.parentId;
            } else {
              parentId = null;
            }
          }
        }

        return scopes;
      }
    },
    methods: {
      getScopes(group) {
        if (group.members !== null) {
          return group.members.find(member => member.user.id === this.userCurrent.id).scope;
        }
      }
    }
  }
</script>