<template>
  <b-container>
    <b-row>
      <b-col cols="12">
        <page-title title="New Group"></page-title>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="5" lg="4">
        <p>Groups allow you to manage and collaborate across multiple sub-groups. Members of a group have viewing access to all of its sub-groups and apps. </p>
        <!-- <p>Apps that belong to a group are prefixed with the group namespace. Existing apps may be moved into a group. </p> -->
      </b-col>
      <b-col md="7" lg="8">
        <new-group-form
          :error="error"
          :parentId="parentId"
          @create="create"
        />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import CreateGroup from '../../graphql/Group/CreateGroup.gql';
  import GroupsByUser from '../../graphql/Group/GroupsByUser.gql';
  import PageTitle from '../../components/PageTitle.vue';
  import NewGroupForm from '../../components/Group/NewGroupForm.vue'

  export default {
    components: {
      NewGroupForm,
      PageTitle
    },
    props: {
      parentId: {
        type: String,
        required: false,
        default: null
      }
    },
    data: () => ({
      error: false,
    }),
    methods: {
      create(group) {
        this.error = false;
        this.$apollo.mutate({
          mutation: CreateGroup,
          variables: {
            input: group
          },
          update: (store, { data: { createGroup } }) => {
            let data = store.readQuery({ query: GroupsByUser });
            if (data.groupsByUser === null) {
              data.groupsByUser = [];
            }
            data.groupsByUser.push(createGroup);
            store.writeQuery({ query: GroupsByUser, data });
          },
          optimisticResponse: {
            __typename: 'Mutation',
            createGroup: {
              __typename: 'Group',
              id: -1,
              ...group,
              members: [],
              created: new Date(),
              updated: null
            },
          },
        }).then(result => {
          this.$router.push({ name: 'group-detail', params: { id: result.data.createGroup.id } });
        }).catch(() => {
          this.error = true;
        });
      }

      // text.toLowerCase().replace(/ /g,'-').replace(/[-]+/g, '-').replace(/[^\w-]+/g,'');
    }
  }
</script>