<template>
  <span>loading...</span>
</template>

<script>
  import ActivateUser from '../../../graphql/Account/User/ActivateUser.gql';
  import UpdateAlert from '../../../graphql/UpdateAlert.gql';

  export default {
    props: {
      id: {
        type: String,
        required: true
      }
    },
    created() {
      this.$apollo.mutate({
        mutation: ActivateUser,
        variables: {
          id: this.id
        }
      }).then(result => {
        if (result.data.activateUser === null) {
          this.$router.push({name: 'signin'});
          this.$apollo.mutate({
            mutation: UpdateAlert,
            variables: {
              message: 'Unable to activate. Check your link and try again or reset your password.',
              variant: 'danger'
            }
          })
        } else {
          this.$router.push({name: 'signin'});
          this.$apollo.mutate({
            mutation: UpdateAlert,
            variables: {
              message: 'Account activated. You may now sign in with your email address and password.'
            }
          })
        }
      })
    }
  };
</script>