<template>
  <b-card
    header-bg-variant="primary"
    header-border-variant="primary"
    header-text-variant="white"
  >
    <template slot="header">
      <h1 class="h4 font-weight-normal mb-0">Create an account</h1>
    </template>
    <alert/>
    <b-form @submit.prevent="onSubmit" novalidate>
      <b-form-group
        id="nameInputGroup"
        label="Name"
        label-for="nameInput"
      >
        <b-form-input
          id="nameInput"
          type="text"
          v-model="user.name"
          :state="$v.user.name.$dirty ? !$v.user.name.$error : null"
          aria-describedby="nameInputLiveFeedback"
        >
        </b-form-input>
        <b-form-invalid-feedback id="nameInputLiveFeedback">
          Name is required
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-group
        id="emailInputGroup"
        label="Email"
        label-for="emailInput"
      >
        <b-form-input
          id="emailInput"
          type="email"
          v-model="user.email"
          :state="$v.user.email.$dirty ? !$v.user.email.$error : null"
          aria-describedby="emailInputLiveFeedback"
        >
        </b-form-input>
        <b-form-invalid-feedback id="emailInputLiveFeedback">
          Email is required
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-group
        id="passwordInputGroup"
        label="Password"
        label-for="passwordInput"
      >
        <b-form-input
          id="passwordInput"
          type="password"
          v-model="user.password"
          :state="$v.user.password.$dirty ? !$v.user.password.$error : null"
          aria-describedby="passwordInputLiveFeedback"
        >
        </b-form-input>
        <b-form-invalid-feedback id="emailInputLiveFeedback">
          Password is required and must be at least 8 characters
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-row align-v="center" class="align-items-center"> <!-- possible bug with form-row and align-v -->
        <b-col>
          <b-link :to="{ name: 'signin' }" class="text-muted">
            Already have an account?
          </b-link>
        </b-col>
        <b-col md="auto">
          <icon name="circle-notch" scale="1.25" spin v-if="progress" class="mt-2"/>
        </b-col>
        <b-col md="auto">
          <b-btn type="submit" variant="primary">
            Sign Up
          </b-btn>
        </b-col>
      </b-form-row>
    </b-form>
  </b-card>
</template>

<script>
  import { validationMixin } from "vuelidate";
  import { email, maxLength, minLength, required } from "vuelidate/lib/validators";
  import Icon from 'vue-awesome/components/Icon';
  import 'vue-awesome/icons/circle-notch';  
  import Alert from '../../../components/Alert.vue';
  import RegisterUser from '../../../graphql/Account/User/RegisterUser.gql';
  import UpdateAlert from '../../../graphql/UpdateAlert.gql';

  export default {
    components: {
      Alert,
      Icon
    },
    data: () => ({
      user: {
        name: '',
        email: '',
        password: ''
      },
      progress: false
    }),
    mixins: [
      validationMixin
    ],
    validations: {
      user: {
        name: {
          required,
          minLength: minLength(3),
          maxLength: maxLength(75)
        },
        email: {
          required,
          email
        },
        password: {
          required,
          minLength: minLength(8)
        }
      }
    },
    methods: {
      onSubmit() {
        this.$v.$touch();
        if (!this.$v.$invalid) {
          this.progress = true;
          this.$apollo.mutate({
            mutation: RegisterUser,
            variables: {
              input: this.user
            }
          }).then(() => {
            this.progress = false
            this.user.name = this.user.email = this.user.password = '';
            this.$v.$reset();
            this.$apollo.mutate({
              mutation: UpdateAlert,
              variables: {
                message: 'Account created successfully! An email with a confirmation link has been dispatched.'
              }
            });
          });
        }
      }
    }
  }
</script>