<template>
  <b-card
    header-bg-variant="primary"
    header-border-variant="primary"
    header-text-variant="white"
  >
    <template slot="header">
      <h1 class="h4 font-weight-normal mb-0">Welcome back!</h1>
    </template>
    <alert/>
    <b-form @submit.prevent="onSubmit" novalidate>
      <b-form-group
        id="emailInputGroup"
        label="Email"
        label-for="emailInput"
      >
        <b-form-input
          id="emailInput"
          type="email"
          v-model="user.email"
          :state="$v.user.email.$dirty ? !$v.user.email.$error : null"
          aria-describedby="emailInputLiveFeedback"
        >
        </b-form-input>
        <b-form-invalid-feedback id="emailInputLiveFeedback">
          Email is required
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-group
        id="passwordInputGroup"
        label="Password"
        label-for="passwordInput"
      >
        <b-form-input
          id="passwordInput"
          type="password"
          v-model="user.password"
          :state="$v.user.password.$dirty ? !$v.user.password.$error : null"
          aria-describedby="passwordInputLiveFeedback"
        >
        </b-form-input>
        <b-form-invalid-feedback id="emailInputLiveFeedback">
          Password is required and must be at least 8 characters
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-row align-v="bottom" class="align-items-center"> <!-- possible bug with form-row and align-v -->
        <b-col>
          <b-link :to="{ name: 'register' }" class="text-muted">
            Don't have an account?
          </b-link>
        </b-col>
        <b-col md="auto">
          <icon name="circle-notch" scale="1.25" spin v-if="progress" class="mt-2"/>
        </b-col>
        <b-col md="auto">
          <b-btn type="submit" variant="primary">
            Sign In
          </b-btn>
        </b-col>
      </b-form-row>
    </b-form>
  </b-card>
</template>

<script>
  import { validationMixin } from "vuelidate";
  import { email, minLength, required } from "vuelidate/lib/validators";
  import Icon from 'vue-awesome/components/Icon';
  import 'vue-awesome/icons/circle-notch';
  import Alert from '../../../components/Alert.vue'
  import SigninUser from '../../../graphql/Account/AuthToken/SigninUser.gql'
  import UserCurrent from '../../../graphql/Account/User/UserCurrent.gql'
  import UpdateAlert from '../../../graphql/UpdateAlert.gql'  
  import { clearStore } from '../../../vue-apollo'

  export default {
    components: {
      Alert,
      Icon
    },
    data: () => ({
      user: {
        email: '',
        password: ''
      },
      progress: false
    }),
    mixins: [
      validationMixin
    ],
    validations: {
      user: {
        email: {
          required,
          email
        },
        password: {
          required,
          minLength: minLength(8)
        }
      }
    },
    methods: {
      onSubmit() {
        this.$v.$touch();
        if (!this.$v.$invalid) {
          this.progress = true;
          this.$apollo.mutate({
            mutation: SigninUser,
            variables: {
              input: this.user
            }
          }).then(async result => {
            if (result.data.signinUser !== null) {
              let apolloClient = this.$apollo.provider.defaultClient;
              await clearStore();
              apolloClient.writeQuery({
                query: UserCurrent,
                data: {
                  userCurrent: result.data.signinUser.user
                }
              })
              if (localStorage !== undefined) {
                // localStorage.setItem('auth-token', JSON.stringify(result.data.signinUser.token));
                localStorage.setItem('auth-token', JSON.stringify({
                  accessToken: result.data.signinUser.accessToken,
                  refreshToken: result.data.signinUser.refreshToken
                }));
              }
              this.$router.push({ name: 'group-list' });
            } else {
              this.progress = false;
              this.$apollo.mutate({
                mutation: UpdateAlert,
                variables: {
                  message: 'Invalid email or password.',
                  variant: 'danger'                  
                }
              });
            }
          });
        }
      }
    }
  }
</script>