<template>
  <b-container class="account">
    <b-row class="justify-content-center mt-lg-5">
      <b-col sm="9" md="7" lg="5" xl="4">
        <router-view></router-view>
      </b-col>
    </b-row>
  </b-container>
</template>