<template>
  <div>
    <dashboard-toolbar></dashboard-toolbar>
    <router-view></router-view>
  </div>
</template>

<script>
  import DashboardToolbar from '../components/DashboardToolbar'

  export default {
    components: {
      DashboardToolbar,
    }
  }
</script>