<template>
  <b-alert
    :show="alert.show"
    :variant="alert.variant"
  >
    <span v-if="$apollo.loading">Loading...</span>
    {{ alert.message }}
  </b-alert>
</template>

<script>
  import Alert from '../graphql/Alert.gql'

  export default {
    apollo: {
      alert: {
        query: Alert
      }
    },
    data: () => ({
      alert: {}
    })
  }
</script>