<template>
  <div v-if="breadcrumbs.length > 1">
    <b-breadcrumb :items="breadcrumbs" class="bg-transparent mb-0 px-0 small"></b-breadcrumb>
    <hr class="mt-0"/>
  </div>
</template>

<script>
  export default {
    props: {
      endcap: {
        id: {
          type: String,
          required: true
        },
        text: {
          type: String,
          required: false
        },
      },
      groupsByUser: {
        type: Array,
        required: true
      }
    },
    computed: {
      breadcrumbs() {
        if (this.groupsByUser.length) {
          let crumbs = [];
          let group = this.groupsByUser.find(group => group.id === this.endcap.id);
          let parentId = group.parentId;
          crumbs.unshift({
            text: group.name,
            to: {
              name: 'group-detail',
              params: { id: group.id }
            }
          });

          while (parentId !== null) {
            group = this.groupsByUser.find(group => group.id === parentId);
            if (group !== undefined) {
              parentId = group.parentId;
              crumbs.unshift({
                text: group.name,
                to: {
                  name: 'group-detail',
                  params: { id: group.id }
                }
              });
            } else {
              parentId = null;
            }
          }

          if (this.endcap.text) {
            crumbs.push({ text: this.endcap.text});
          }

          return crumbs;
        }
        
        return [];
      }
    }
  }
</script>