<template>
  <b-navbar toggleable="lg" sticky type="dark" variant="primary">
    <b-navbar-brand :to="{ name: 'group-list' }">
      <icon name="project-diagram" class="brand-icon"/> SandboxQL
    </b-navbar-brand>
    <alert class="position-fixed dashboard-alert"/>
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav class="ml-3">
        <!-- <b-nav-item-dropdown
          v-if="organizationsByUser && organizationsByUser.length > 1"
          text="Organizations"
          left
        >
          <b-dropdown-item
            v-for="organization in organizationsByUser"
            :key="organization.id"
            :to="{ name: 'organization-detail', params: { path: organization.path } }"
          >
            {{ organization.name }}
          </b-dropdown-item>
          <b-dropdown-divider />
          <b-dropdown-item :to="{ name: 'organization-new' }">New Organization</b-dropdown-item>
        </b-nav-item-dropdown> -->
        <!-- <b-nav-item
          v-if="organizationsByUser && organizationsByUser.length === 1"
          :to="{ name: 'organization-detail', params: { path: organizationsByUser[0].path } }"
        >
          {{ organizationsByUser[0].name }}
        </b-nav-item> -->

        <!-- <b-nav-item-dropdown
          v-if="organizationsByUser && organizationsByUser.length"
          text="Boards"
          left
        >
          <b-dropdown-item href="#">New Board</b-dropdown-item>
        </b-nav-item-dropdown> -->

      </b-navbar-nav>
      <b-navbar-nav class="ml-auto ql-user">
        <!-- <b-nav-item-dropdown right class="mr-3">
          <template slot="button-content">
            <icon name="plus-square"/>
          </template>
          <b-dropdown-item href="#">New Board</b-dropdown-item>
          <b-dropdown-item href="#">New Committee</b-dropdown-item>
          <b-dropdown-item :to="{ name: 'organization-new' }">New Organization</b-dropdown-item>
        </b-nav-item-dropdown> -->
        <b-nav-item-dropdown right class="user-circle">
          <template slot="button-content">
            <icon name="user-circle" scale="1.5"/>
          </template>
          <b-dropdown-item disabled>
            {{ userCurrent.name }}
          </b-dropdown-item>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-item disabled>
            Profile
          </b-dropdown-item>
          <b-dropdown-item disabled>
            Settings
          </b-dropdown-item>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-item @click="logout">
            Logout
          </b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
  import Alert from './Alert.vue';
  import UpdateAlert from '../graphql/UpdateAlert.gql'
  import Icon from 'vue-awesome/components/Icon';
  import UserCurrent from '../graphql/Account/User/UserCurrent.gql';
  import LogoutUser from '../graphql/Account/AuthToken/LogoutUser.gql';
  // import GroupsByUser from '../graphql/Group/GroupsByUser.gql';
  import { clearStore } from '../vue-apollo';
  import 'vue-awesome/icons/project-diagram';
  import 'vue-awesome/icons/plus-square';
  import 'vue-awesome/icons/user-circle';

  export default {
    apollo: {
      userCurrent: {
        query: UserCurrent
      },
      // groupsByUser: {
      //   query: GroupsByUser
      // }
    },
    components: {
      Alert,
      Icon
    },
    data: () => ({
      userCurrent: {}
    }),
    methods: {
      logout() {
        this.$apollo.mutate({
          mutation: UpdateAlert,
          variables: {
            message: 'Logging out...',
            variant: 'warning'
          }
        });
        this.$apollo.mutate({
          mutation: LogoutUser,
          variables: {
            // refreshToken: JSON.parse(localStorage.getItem('auth-token')).refreshToken
            accessToken: JSON.parse(localStorage.getItem('auth-token')).accessToken
          }
        }).then(async () => {
          await clearStore()
          if (localStorage !== undefined) {
            localStorage.removeItem('auth-token')
          }
          this.$router.push({ name: 'signin' })
        });
      }
    }
  }
</script>