<template>
  <b-alert
    :show="errors.length > 0"
    variant="danger"
    class="col-md-8"
  >
    <span v-for="error in errors" v-bind:key="error.message">
      {{ error.message }}
    </span><br>

  </b-alert>
</template>

<script>
  import Errors from '../graphql/Errors.gql'

  export default {
    apollo: {
      errors: {
        query: Errors
      }
    },
    data: () => ({
      errors: []
    })
  }
</script>