<template>
  <div v-if="title" class="page-title-holder mt-5">
    <slot></slot>
    <h1 class="h4 mb-0">
      {{ title }}
      <span v-if="visibility === 'private'">
        <icon
          id="visibility-private"
          name="lock"
          label="private"
          class="ml-2 text-muted"
          scale="0.75"
        />
        <b-tooltip target="visibility-private">
          Private - The group and it's boards can only be viewed by members.
        </b-tooltip>
      </span>      
      <span v-if="visibility === 'public'">
        <icon
          id="visibility-public"
          name="globe-americas"
          label="public"
          class="ml-2 text-muted"
          scale="0.75"
        />
        <b-tooltip target="visibility-public">
          Public - The group and any public subgroups can be viewed without any authentication.
        </b-tooltip>
      </span>
    </h1>
    <small v-if="id" class="text-muted">
      id: {{ id }}
    </small>
    <p :if="description" class="my-4">
      {{ description }}
    </p>
    <hr>
  </div>
</template>

<script>
  import 'vue-awesome/icons/globe-americas';
  import 'vue-awesome/icons/lock';
  import Icon from 'vue-awesome/components/Icon';

  export default {
    components: {
      Icon
    },
    props: {
      id: {
        type: String,
        required: false
      },
      title: {
        type: String,
        required: true
      },
      description: {
        type: String,
        required: false
      },
      visibility: {
        type: String,
        required: false
      }
    }
  }
</script>