<template>  
  <b-table
    :fields="fields"
    :items="members"
    @row-clicked="rowClicked"
    hover
    sort-by="name"
    class="headless vertical-align"
  >
    <template slot="user-icon" slot-scope="data">
      <!-- FIX ME!!! -->
      <icon
        name="user-circle"
        scale="2"
        v-bind:label="data.item.name"
      />
    </template>
    <template slot="name" slot-scope="data">
      <span class="font-weight-bold">{{ data.item.user.name }}</span>
      <p class="mb-0">
        Given access
        <time :datetime="data.item.created">
          {{ data.item.created | fromNow }}
        </time>
      </p>
    </template>
    <template slot="options" slot-scope="data">
      <b-form inline class="float-right">
        <label class="sr-only" for="inline-form-input-name">Scope</label>
        <b-form-select
          v-model="data.item.scope"
          :options="scopeOptions"
          class="mr-2"
        />
        <b-button
          @click="rowClickable = false"
          role="button"
          variant="danger"
          v-b-tooltip.hover title="Remove user from group and any subresources."
        >
          <icon
            name="trash-alt"
            label="Delete"
            @click="rowClickable = false"
          />
        </b-button>
      </b-form>

      <!-- <b-link
        v-if="(data.item.find(member => member.user.id === userCurrent.id && member.scope === 'admin')) ||
          scopes.some(scope => scope === 'admin')"
        @click="rowClickable = false"
        :to="{ name: 'group-edit', params: { id: data.item.id } }"
        class="mr-5"
        role="button"
        v-b-tooltip.hover title="Edit"
      >
        Select list
        <icon
          name="cog"
          label="Edit"
          @click="rowClickable = false"
        />
      </b-link> -->

      <!-- <b-link
        @click="rowClickable = false"
        :to="{ name: 'group-detail', params: { id: data.item.id } }"
        class="mr-4"
        role="button"
        v-b-tooltip.hover
        title="Subgroups"
      >
        <icon
          name="regular/folder"
          label="Subgroups"
          @click="rowClickable = false"
          class="mr-1"
        />
        <span v-if="subgroups(data.item.id).length">{{ subgroups(data.item.id).length }}</span>
        <span v-else>0</span>
      </b-link>

      <b-link
        @click="rowClickable = false"
        :to="{ name: 'group-detail', params: { id: data.item.id } }"
        class="mr-4"
        role="button"
        v-b-tooltip.hover
        title="Apps"
      >
        <icon
          name="regular/bookmark"
          label="Apps"
          @click="rowClickable = false"
          class="mr-1"
        />
      </b-link>

      <b-link
        @click="rowClickable = false"
        :to="{ name: 'group-detail', params: { id: data.item.id } }"
        class="mr-4"
        role="button"
        v-b-tooltip.hover
        title="Members"
      >
        <icon
          name="regular/user"
          label="Members"
          @click="rowClickable = false"
          class="mr-1"
        />
        <span v-if="data.item.members">{{ data.item.members.length }}</span>
        <span v-else>0</span>
      </b-link> -->
    </template>
  </b-table>
</template>

<script>
  import 'vue-awesome/icons/user-circle';
  import 'vue-awesome/icons/trash-alt';
  import Icon from 'vue-awesome/components/Icon';
  import moment from 'moment';

  export default {
    components: {
      Icon
    },
    props: {
      groupId: {
        type: String,
        required: false,
        default: null
      },
      groupsByUser: {
        type: Array,
        required: false,
        default: null
      },
      scopes: {
        type: Array,
        required: false,
        default: Array
      },
      userCurrent: {
        type: Object,
        required: true
      }
    },
    data: () => ({
      fields: [{
        key: 'user-icon',
        tdClass: 'fit'
      },{
        key: 'name'
      },{
        key: 'options',
        tdClass: 'text-right'
      }],
      scopeOptions: [
        { value: 'admin', text: 'Admin' },
        { value: 'member', text: 'Member' },
      ],
      rowClickable: true
    }),
    computed: {
      group() {
        if (this.groupsByUser !== null) {
          return this.groupsByUser.find(group => group.id === this.groupId);
        }
        return null;
      },
      // groups() {
      //   if (this.groupsByUser !== null) {
      //     let groups = this.groupsByUser.filter(group => group.parentId === this.groupId);
      //     let orphans = []; // groups that have no parent group in the groupsByUser array (probably a share)
      //     if (this.groupId === null) {
      //       this.groupsByUser.forEach(group => {
      //         if (group.parentId !== null && this.groupsByUser.find(g => g.id === group.parentId) === undefined) {
      //           orphans.push(group);
      //         }
      //       });
      //     }
          
      //     return [...groups, ...orphans];
      //   }
      //   return [];
      // },
      members() {
        if (this.groupsByUser !== null) {
          let group = this.groupsByUser.find(group => group.id === this.groupId);
          return group.members;
        }
        return null;
      }
    },
    filters: {
      fromNow(date) {
        return moment(date).fromNow();
      }
    },
    methods: {
      subgroups(groupId) {
        if (this.groupsByUser !== null) {
          return this.groupsByUser.filter(group => group.parentId === groupId);
        }
      },
      rowClicked(item) {
        this.rowClickable ? this.$router.push({ name: 'group-detail', params: { id: item.id } }) : null;
      }
    }
  }
</script>