<template>
  <b-container>
    <b-row>
      <b-col cols="12">
        <breadcrumbs
          v-if="groupsByUser"
          :groupsByUser="groupsByUser"
          :endcap="{ id: group.id, text: 'Edit' }"
        />
        <page-title
          v-if="group"
          title="Members"
        >
          <group-navigation
            :id="id"
            :scopes="scopes"
          />
        </page-title>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <member-table
          v-if="userCurrent"
          :groupId="id"
          :groupsByUser="groupsByUser"
          :scopes="scopes"
          :userCurrent="userCurrent"
        />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import Breadcrumbs from '../../components/Breadcrumbs.vue';
  import GroupNavigation from '../../components/Group/GroupNavigation.vue';
  import GroupsByUser from '../../graphql/Group/GroupsByUser.gql';
  import MemberTable from '../../components/Member/MemberTable.vue';
  import PageTitle from '../../components/PageTitle.vue';
  import UserCurrent from '../../graphql/Account/User/UserCurrent.gql';

  export default {
    apollo: {
      groupsByUser: {
        query: GroupsByUser
      },
      userCurrent: {
        query: UserCurrent
      }
    },
    components: {
      Breadcrumbs,
      GroupNavigation,
      MemberTable,
      PageTitle
    },
    props: {
      id: {
        type: String,
        required: true
      }
    },
    data: () => ({
      groupsByUser: null,
      userCurrent: null
    }),
    computed: {
      group() {
        if (this.groupsByUser !== null) {
          return this.groupsByUser.find(group => group.id === this.id);
        }
        return null;
      },
      scopes() {
        let scopes = [];
        if (this.groupsByUser !== null && this.userCurrent !== null) {
          let group = this.groupsByUser.find(group => group.id === this.id);
          let scope = this.getScopes(group);
          if (scope !== undefined) {
            scopes.push(scope);
          }

          let parentId = group.parentId;
          while (parentId !== null) {
            group = this.groupsByUser.find(group => group.id === parentId);
            if (group !== undefined) {
              let scope = this.getScopes(group);
              if (scope !== undefined) {
                scopes.push(scope);
              }
              parentId = group.parentId;
            } else {
              parentId = null;
            }
          }
        }

        return scopes;
      }
    },
    methods: {
      getScopes(group) {
        if (group.members !== null) {
          return group.members.find(member => member.user.id === this.userCurrent.id).scope;
        }
      }
    }
  }
</script>