<template>
  <!-- <b-col> -->
  <div>
    <errors/>
    <b-form @submit.prevent="onSubmit" novalidate>
      <b-form-row>
        <b-form-group
          id="nameInputGroup"
          label="Group Name"
          label-for="nameInput"
          class="col-lg-4"
        >
          <b-form-input
            id="nameInput"
            type="text"
            v-model="form.name"
            :state="$v.form.name.$dirty ? !$v.form.name.$error : null"
            aria-describedby="nameInputLiveFeedback"
          />
          <b-form-invalid-feedback id="nameInputLiveFeedback">
            Name is required
          </b-form-invalid-feedback>
        </b-form-group>
      </b-form-row>

      <b-form-row>
        <b-form-group
          id="pathInputGroup"
          label="Group URL (optional)"
          label-for="pathInput"
          class="col-lg-6"
        >
          <b-input-group :prepend="uri + '/'">
            <b-form-input
              id="pathInput"
              type="text"
              v-model="form.path"
              :state="$v.form.path.$dirty ? !$v.form.path.$error : null"
              aria-describedby="pathInputLiveFeedback"
            />            
            <b-form-invalid-feedback id="pathInputLiveFeedback">
              URL is required
            </b-form-invalid-feedback>    
          </b-input-group>
        </b-form-group>
      </b-form-row>

      <b-form-row>
        <b-form-group
          id="descriptionInputGroup"
          label="Group Description (optional)"
          label-for="descriptionInput"
          class="col-lg-6"
        >
          <b-form-textarea
            id="descriptionInput"
            v-model="form.description"
            rows="3"
            max-rows="5"
            :state="$v.form.description.$dirty ? !$v.form.description.$error : null"
            aria-describedby="descriptionInputLiveFeedback"
          >
          </b-form-textarea>
        </b-form-group>
      </b-form-row>

      <b-form-group label="Visibility">
        <b-form-radio-group
          id="visibilityRadioGroup"
          v-model="form.visibility"
          name="visibilityOptions"
          stacked
        >
          <p class="small text-muted">Who will be able to see this group?</p>
          <b-form-radio value="private">
            <icon name="lock"/> Private<br>
            <small id="privateHelp" class="form-text text-muted">The group and its boards can only be viewed by members.</small>
          </b-form-radio>
          <b-form-radio value="public">
            <icon name="globe-americas"/> Public<br>
            <small id="publicHelp" class="form-text text-muted">The group and any public boards can be viewed without any authentication.</small>
          </b-form-radio>
        </b-form-radio-group>
      </b-form-group>
      <b-btn type="submit" variant="primary">Update</b-btn>
      <b-button type="button" class="ml-3" @click="cancel">Cancel</b-button>
      <span v-if="progress && !error" class="text-muted ml-3">Saving...</span>
    </b-form>
  <!-- </b-col> -->
  </div>
</template>

<script>
  import 'vue-awesome/icons/globe-americas';
  import 'vue-awesome/icons/lock';
  import { maxLength, minLength, required } from "vuelidate/lib/validators";
  import { validationMixin } from "vuelidate";
  import Errors from '../Errors.vue';
  import Icon from 'vue-awesome/components/Icon';

  export default {
    components: {
      Errors,
      Icon
    },
    props: {
      error: {
        type: Boolean,
        required: true
      },
      group: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        form: Object.assign({}, this.group),
        progress: false,
        uri: process.env.VUE_APP_CLIENT_URI
      }
    },
    mixins: [
      validationMixin
    ],
    validations: {
      form: {
        name: {
          required,
          minLength: minLength(3),
          maxLength: maxLength(45)
        },
        path: {
          minLength: minLength(3),
          maxLength: maxLength(55)
        },
        description: {
          maxLength: maxLength(191)
        }
      }
    },
    methods: {
      cancel() {
        this.$router.push({ name: 'group-detail', params: { id: this.group.id } });
      },
      onSubmit() {
        this.$v.$touch();
        if (!this.$v.$invalid) {
          this.progress = true;
          this.$emit('update', {
            ...this.form
          });
        }
      }
    }
  }
</script>