<template>
  <b-nav class="float-right">
    <b-nav-item-dropdown
      id="edit-group"              
      no-caret
      right
    >
      <template slot="button-content">
        <b-button>
          <icon name="bars"/>
        </b-button>
      </template>
      <b-dropdown-item :to="{ name: 'group-members', params: { groupId: id } }">
        Members
      </b-dropdown-item>
      <b-dropdown-item v-if="scopes.some(scope => scope === 'admin')" :to="{ name: 'group-edit', params: { id: id } }">
        Settings
      </b-dropdown-item>
    </b-nav-item-dropdown>
  </b-nav>
</template>

<script>
  import 'vue-awesome/icons/bars';
  import Icon from 'vue-awesome/components/Icon';

  export default {
    components: {
      Icon
    },
    props: {
      id: {
        type: String,
        required: true
      },
      scopes: {
        type: Array,
        required: true
      }
    }
  }
</script>