<template>
  <b-col cols="12">
    <b-table
      v-if="groups.length"
      :fields="fields"
      :items="groups"
      @row-clicked="rowClicked"
      hover
      sort-by="name"
      class="headless vertical-align"
    >
      <template slot="folder" slot-scope="data">
        <icon
          name="regular/folder"
          v-bind:label="data.item.name"
        />
      </template>
      <template slot="name" slot-scope="data">
        <b-link :to="{ name: 'group-detail', params: { id: data.item.id } }">
          <span class="font-weight-bold">{{ data.item.name }}</span>
        </b-link>
        <span v-if="data.item.visibility === 'private'">
          <icon
            :id="data.item.id + '-private'"
            name="lock"
            label="private"
            class="ml-2 text-muted"
            scale="0.75"
          />
          <b-tooltip :target="data.item.id + '-private'">
            Private - The group and it's boards can only be viewed by members.
          </b-tooltip>
        </span>
        
        <span v-if="data.item.visibility === 'public'">
          <icon
            :id="data.item.id + '-public'"
            name="globe-americas"
            label="public"
            class="ml-2 text-muted"
            scale="0.75"
          />
          <b-tooltip :target="data.item.id + '-public'">
            Public - The group and any public subgroups can be viewed without any authentication.
          </b-tooltip>
        </span>
        <p class="mb-0">{{ data.item.description }}</p>
      </template>
      <template slot="visibility" slot-scope="data">
        <b-link
          v-if="(data.item.members &&
            data.item.members.find(member => member.user.id === userCurrent.id && member.scope === 'admin')) ||
            scopes.some(scope => scope === 'admin')"
          @click="rowClickable = false"
          :to="{ name: 'group-edit', params: { id: data.item.id } }"
          class="mr-5"
          role="button"
          v-b-tooltip.hover title="Edit"
        >
          <icon
            name="cog"
            label="Edit"
            @click="rowClickable = false"
          />
        </b-link>

        <b-link
          @click="rowClickable = false"
          :to="{ name: 'group-detail', params: { id: data.item.id } }"
          class="mr-4"
          role="button"
          v-b-tooltip.hover
          title="Subgroups"
        >
          <icon
            name="regular/folder"
            label="Subgroups"
            @click="rowClickable = false"
            class="mr-1"
          />
          <span v-if="subgroups(data.item.id).length">{{ subgroups(data.item.id).length }}</span>
          <span v-else>0</span>
        </b-link>

        <b-link
          @click="rowClickable = false"
          :to="{ name: 'group-detail', params: { id: data.item.id } }"
          class="mr-4"
          role="button"
          v-b-tooltip.hover
          title="Apps"
        >
          <icon
            name="regular/bookmark"
            label="Apps"
            @click="rowClickable = false"
            class="mr-1"
          />
          <!-- <span v-if="data.item.members">{{ data.item.members.length }}</span>
          <span v-else>0</span> -->
          0
        </b-link>

        <b-link
          @click="rowClickable = false"
          :to="{ name: 'group-detail', params: { id: data.item.id } }"
          class="mr-4"
          role="button"
          v-b-tooltip.hover
          title="Members"
        >
          <icon
            name="regular/user"
            label="Members"
            @click="rowClickable = false"
            class="mr-1"
          />
          <span v-if="data.item.members">{{ data.item.members.length }}</span>
          <span v-else>0</span>
        </b-link>
      </template>
    </b-table>
    <div v-else class="text-center mt-5">
      <h4 class="mb-4">A group is a collection of subgroups and apps.</h4>
      <p>Groups work like folders. You can manage member permissions for who should have access to each group, subgroup, or app.</p>
      <p>
        There are no groups here.
        <b-link v-if="group" :to="{ name: 'group-new', query: { parentId: group.id } }">
          Create one?
        </b-link>
        <b-link v-else :to="{ name: 'group-new' }">
          Create one?
        </b-link>
      </p>
    </div>
  </b-col>
</template>

<script>
  import 'vue-awesome/icons/cog';
  import 'vue-awesome/icons/regular/user';
  import 'vue-awesome/icons/regular/folder';
  import 'vue-awesome/icons/globe-americas';
  import 'vue-awesome/icons/lock';
  import 'vue-awesome/icons/regular/bookmark';
  import Icon from 'vue-awesome/components/Icon';

  export default {
    components: {
      Icon
    },
    props: {
      groupId: {
        type: String,
        required: false,
        default: null
      },
      groupsByUser: {
        type: Array,
        required: false,
        default: null
      },
      scopes: {
        type: Array,
        required: false,
        default: Array
      },
      userCurrent: {
        type: Object,
        required: true
      }
    },
    data: () => ({
      fields: [{
        key: 'folder',
        tdClass: 'fit'
      },{
        key: 'name'
      },{
        key: 'visibility',
        tdClass: 'text-right'
      }],
      rowClickable: true
    }),
    computed: {
      group() {
        if (this.groupsByUser !== null) {
          return this.groupsByUser.find(group => group.id === this.groupId);
        }
        return null;
      },
      groups() {
        if (this.groupsByUser !== null) {
          let groups = this.groupsByUser.filter(group => group.parentId === this.groupId);
          let orphans = []; // groups that have no parent group in the groupsByUser array (probably a share)
          if (this.groupId === null) {
            this.groupsByUser.forEach(group => {
              if (group.parentId !== null && this.groupsByUser.find(g => g.id === group.parentId) === undefined) {
                orphans.push(group);
              }
            });
          }
          
          return [...groups, ...orphans];
        }
        return [];
      }
    },
    methods: {
      subgroups(groupId) {
        if (this.groupsByUser !== null) {
          return this.groupsByUser.filter(group => group.parentId === groupId);
        }
      },
      rowClicked(item) {
        this.rowClickable ? this.$router.push({ name: 'group-detail', params: { id: item.id } }) : null;
      }
    }
  }
</script>